*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  @extend %cover;
  
  background: $color-contessa;
  color: $color-quarter-spanish-white;

  font-size: calc(100vw / 1920 * 10);
  line-height: 1;
  position: fixed;
  overflow: hidden;

  @include media('<phone') {
    font-size: calc(100vw / 750 * 10);
  }
}

body {
  @extend %cover;
  @extend %description-16;

  font-family: $font-suisse-bp;
  position: fixed;
  
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

img {
  opacity: 0;
  transition: opacity 0.4s ease;
  vertical-align: middle; 

  &.loaded {
    opacity: 1;
  }
}

button {
  color: inherit;
  background: none;
  outline: none;
  cursor: pointer;
  border: none;
}

.content {
  @extend %cover;
}

[data-animations='paragraph'] ,
[data-animations='label'] ,
[data-animations='title'] {
  span {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }
}



